.container{
    display: flex;
    height: 300px;
    flex-direction: row ;
    gap: 20px;
    justify-content: space-around;
    

}
.card{

    width: 250px;
    height: 400px;
    background-color: cadetblue;
    box-shadow: 2px 2px 2px 2px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    transition-duration: 3s;
    
}
.card:hover{
    background-color: blanchedalmond;
    transform:scale(-1,1);
    
}
img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    
}
h2,h3,p{
    color: black;
    font-family: 'Times New Roman', Times, serif;

}
